.sqr_timer_count_hms_line{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.timer_description_dialog {
  .devs_textarea {
    height: 100%;
  }
}