.sqr_manage_criteria_view {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
  overflow: hidden;

  &__toolbar {
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
    justify-content: center;
    flex-wrap: wrap;

    > .devs_select {
      max-width: 450px;
    }
  }

  &__content {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 25px;
  }
}