.sqr_manage_rate_aspect {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  border-left-width: 3px;

  &__common {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .aspect {
      flex: auto;

      &_caption {
        flex: auto;
        width: 100%;
        font-weight: 600;
      }

      &_description {
        flex: auto;
        width: 100%;
      }
    }
  }
}
